params {

  // input / output parameters
  samplesheet = null
  out_dir = null
  
  // cov parameters
  cov_q = 0
  cov_exclude = "MT,GL%%,NC_%,hs37d5"
  cov_include = null
  cov_larger = 100000

  // part parameters
  part_excludeCov = 20000

  // dsa parameters
  dsa_noise_bed = null

  // var parameters
  var_a = 50
  var_b = 0 
  var_c = 0
  var_d = 2
  var_f = 0.9
  var_i = 0.1
  var_m = 8
  var_n = 3
  var_p = 0
  var_q = 60
  var_r = 144
  var_v = 0.01
  var_x = 8
  var_z = 15

  // indel parameters
  indel_rb = 2
  indel_t3 = 135
  indel_t5 = 10
  indel_z = 15
  indel_v = 0.01
  indel_a = 50
  indel_c = 0

  // post parameters
  post_triNuc = null
}