// parameters
params {

  // input / output parameters
  samplesheet = null
  out_dir = null
  fasta = null
  jobs = 100
  
  // intervals parameters
  int_exclude = null
  int_include = null
  int_larger = 100000

  // cov parameters
  cov_q = 0
  cov_window = 100

  // part parameters
  part_excludeBED = null
  part_excludeCov = 20000

  // dsa parameters
  dsa_noise_bed = null
  dsa_d = 2
  dsa_q = 30
  dsa_M = 0

  // var parameters
  var_a = 50
  var_b = 0 
  var_c = 0
  var_d = 2
  var_f = 0.9
  var_i = 0.1
  var_m = 8
  var_n = 3
  var_p = 0
  var_q = 60
  var_r = 144
  var_v = 0.01
  var_x = 8
  var_z = 15

  // indel parameters
  indel_rb = 2
  indel_t3 = 135
  indel_t5 = 10
  indel_z = 15
  indel_v = 0.01
  indel_a = 50
  indel_c = 0

  // post parameters
  post_triNuc = null
}

// profile for runs and stubs
profiles {
  stub {
    process.memory = '1 GB' 
    process.cpus = 1
    process.queue = 'small'
  }
  run {
    process {
      errorStrategy = { task.exitStatus in [104,130,134,137,138,139,140,143] ? 'retry' : 'ignore' }
      maxRetries = 3
      withName: PREPROCESS {
        queue = 'basement'
        memory = { 85.GB * task.attempt }
        cpus = 8
      }
      withName: CHECK_CONTIGS {
        queue = "normal"
        memory = { 2.GB * task.attempt }
      }
      withName: INTERVALS {
        queue = 'normal'
        memory = { 4.GB * task.attempt }
      }
      withName: SUBSET {
        queue = 'normal'
        memory = { 8.GB * task.attempt }
      }
      withName: SAMTOOLS_INDEX {
        queue = "normal"
        memory = { 2.GB * task.attempt }
      }
      withName: EFFI {
        queue = 'basement'
        memory = { 50.GB * task.attempt }
        cpus = 4
      }
      withName: COV {
        queue = 'week'
        memory = { 5.GB * task.attempt }
      }
      withName: PART {
        queue = 'normal'
        memory = { 16.GB * task.attempt }
      }
      withName: DSA {
        queue = 'basement'
        memory = { 8.GB * task.attempt }
      }
      withName: VAR {
        queue = 'normal'
        memory = { 3.GB * task.attempt }
      }
      withName: VAR_MERGE_CSV {
        queue = 'normal'
        memory = { 8.GB * task.attempt }
      }
      withName: VAR_VCF {
        queue = 'normal'
        memory = { 8.GB * task.attempt }
      }
      withName: VAR_MERGE_COV {
        queue = 'normal'
        memory = { 8.GB * task.attempt }
      }
      withName: INDEL {
        queue = 'week'
        memory = { 5.GB * task.attempt }
      }
      withName: INDEL_MERGE {
        queue = 'normal'
        memory = { 8.GB * task.attempt }
      }
      withName: PLOT {
        queue = 'normal'
        memory = { 2.GB * task.attempt }
      }
      withName: SUMMARY {
        queue = 'normal'
        memory = { 2.GB * task.attempt }
      }
    }
  }
}
